<div class="min-w-100 max-w-md mx-auto bg-gray-100 rounded-lg p-6 sm:p-8 shadow-md">
  <header class="text-center">
    <h1 class="my-2 text-center text-3xl leading-9 font-extrabold text-gray-900">Usuario</h1>
  </header>

  <form [formGroup]="userForm" (ngSubmit)="onSubmitUser()">
    <div class="flex gap-4">
      <div class="mb-4">
        <label class="block mb-1 text-gray-800" for="first-name">Nombres</label>
        <input
          class="w-full p-2 border rounded-md text-gray-800 border-sky-700 outline-none focus:ring-2 focus:ring-sky-700"
          type="text" id="first-name" formControlName="firstNames">
        <p *ngIf="userForm.get('firstNames')?.invalid && userForm.get('firstNames')?.touched"
          class="text-red-700 text-sm">El nombre es requerido.</p>
      </div>

      <div class="mb-4">
        <label class="block mb-1 text-gray-800" for="last-name">Apellidos</label>
        <input
          class="w-full p-2 border rounded-md text-gray-800 border-sky-700 outline-none focus:ring-2 focus:ring-sky-700"
          type="text" id="last-name" formControlName="lastNames">
        <p *ngIf="userForm.get('lastNames')?.invalid && userForm.get('lastNames')?.touched" class="text-red-700 text-sm">
          El apellido es requerido.</p>
      </div>
    </div>

    <div class="mb-4">
      <label class="block mb-1 text-gray-800" for="email">Email</label>
      <input
        class="w-full p-2 border rounded-md text-gray-800 border-sky-700 outline-none focus:ring-2 focus:ring-sky-700"
        type="email" id="email" formControlName="email">
      <p *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" class="text-red-700 text-sm">El email
        es requerido.</p>
    </div>

    <div class="mb-4">
      <label class="block mb-1 text-gray-800">Rol</label>
      <select
        class="w-full p-2 border rounded-md text-gray-800 border-sky-700 outline-none bg-gray-100 focus:ring-2 focus:ring-sky-700"
        formControlName="role">
        <option value="" disabled>Selecciona un rol</option>
        <option value="USER">User</option>
        <option value="ADMIN">Admin</option>
      </select>
      <p *ngIf="userForm.get('role')?.invalid && userForm.get('role')?.touched" class="text-red-700 text-sm">Selecciona
        un rol.</p>
    </div>

    @if(!this.data.id) {
    <!-- Contraseña -->
    <div class="mt-6">
      <label for="password" class="block text-sm font-medium leading-5 text-gray-700">Contraseña</label>
      <div class="mt-1 relative rounded-md shadow-sm">
        <input id="password" formControlName="password" placeholder="********" type="password"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-sky focus:border-sky-700 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
        <div class="absolute right-0 mt-1 text-red-600 text-sm error-msg w-max">
          @if(fControls['password'].touched && fControls['password'].invalid) {
          @if(fControls['password'].errors?.['required']) {
          <div>La contraseña es obligatoria</div>
          } @else if(fControls['password'].errors?.['minlength']) {
          <div>Debe tener al menos 8 caracteres</div>
          } @else if(fControls['password'].errors?.['noSpecialChar']) {
          <div>Debe contener al menos un carácter especial</div>
          } @else if(fControls['password'].errors?.['noNumber']) {
          <div>Debe contener al menos un número</div>
          } @else if(fControls['password'].errors?.['noUpperCase']) {
          <div>Debe contener al menos una letra mayúscula</div>
          } @else if(fControls['password'].errors?.['noLowerCase']) {
          <div>Debe contener al menos una letra minúscula</div>
          }
          }
        </div>
      </div>
    </div>

    <!-- Confirmar Contraseña -->
    <div class="mt-6">
      <label for="passwordConfirmar" class="block text-sm font-medium leading-5 text-gray-700">Confirma tu
        contraseña</label>
      <div class="mt-1 relative rounded-md shadow-sm">
        <input id="passwordConfirmar" formControlName="passwordConfirmar" placeholder="********" type="password"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-sky focus:border-sky-700 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
        <div class="absolute right-0 mt-1 text-red-600 text-sm error-msg w-max">
          @if(fControls['passwordConfirmar'].touched && fControls['passwordConfirmar'].invalid) {
          @if(fControls['passwordConfirmar'].errors?.['required']) {
          <div>Debes confirmar tu contraseña</div>
          } @else if(fControls['passwordConfirmar'].errors?.['noCoincide']) {
          <div>Las contraseñas no coinciden</div>
          }
          }
        </div>
      </div>
    </div>
    }

    <div class="mt-6">
      <button class="w-full text-white font-bold py-2 px-4 rounded-lg transition-all duration-300
               bg-sky-900 hover:bg-sky-800
               disabled:bg-gray-400 disabled:cursor-not-allowed disabled:hover:bg-gray-400
               cursor-pointer" type="submit"
        [disabled]="!userForm.valid">
        Guardar
      </button>
    </div>
  </form>
</div>
